.App {
  text-align: center;
  font-size: 5vw;
}

.item{
  padding-right:10 px;
  padding-left: 10 px;
}


.input {
  border:solid;
  border-radius:10px;
  position:relative;
  left:10vw;
  height:3vh;
  min-width:40%;
  margin-top:5vh;
  margin-bottom:10vh
}

.list{
  position:relative;
  left:10px;
  max-width: 80%;
}
